---
layout: default
title: Gallery
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/gallery.css">

<div id="main">	
	{% assign editions = '' | split: ',' %}{% comment %} Create empty array {% endcomment %}
	{% assign editionFiles = '' | split: ',' %} {% comment %} Create empty array {% endcomment %}
	{% for file in site.static_files %}
		{% if file.path contains 'data/' %}
			{% assign relativePath = file.path | replace: 'data/', '' | split:'/' %}
			
			{% if relativePath.size > 2 and relativePath[1] != 'modpack' %}{% comment %} if in subfolder of data which is not modpack {% endcomment %}
				{% unless editions contains relativePath[1] %}
					{% assign editions = editions | push: relativePath[1] %}{% comment %} Add the edition directory name to the array {% endcomment %}
				{% endunless %}
				{% assign editionFiles = editionFiles | push: file.path %}{% comment %} Add the file to the file array {% endcomment %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% assign editions = 'java,bedrock,dungeons' | split: ',' %}

	{% assign maxIndex = editions.size | minus: 1 %}
	{% for i in (0..maxIndex) %}{% comment %} loop through editions {% endcomment %}
		{% assign currentEdition = editions[i] %}{% comment %} Get current edition name {% endcomment %}
		{% assign filesArray = '' | split: '' %}
		{% for file in editionFiles %} {% comment %} Get current edition files associated {% endcomment %}
			{% assign pathSplit = file | split: '/' %}
			{% assign pathEdition = pathSplit[2] %}
			{% if currentEdition == pathEdition %}
				{% assign filesArray = filesArray | push: file %}
			{% endif %}
		{% endfor %}

		<edition-gallery edition="{{ currentEdition }}" :category_files="['{{ filesArray | join: "','" }}']" :base_url="git_base_urls['{{ currentEdition }}']" category_images="{}"></edition-gallery>
	{% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="{{ site.baseurl }}/js/ajax.js"></script>
<script src="{{ site.baseurl }}/js/components/gallery/categorySlider.js"></script>
<script src="{{ site.baseurl }}/js/components/gallery/editionGallery.js"></script>
<script src="{{ site.baseurl }}/js/Gallery.js"></script>
